/* -------------------------------
   :: Mobile Styles
------------------------------- */
header {
  width: $full-width;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background: transparent url("../../assets/images/header-bg.jpg") repeat scroll 0px 0px;

  .row {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 90rem;
    width: $width;
    border: 1px solid #000;
    height: 150px;

    .logo {
      float: left;
      max-width: 304px;
      width: 30%;
      height: auto;
      margin-right: 30px;
    }
  }


  .menu-top-nav {
    margin-top: 70px !important;

    ul {
      li{
        a {
          font-weight: 300;
          font-size: 76.9231%;
        }
      }
    }
  }
}


/* -------------------------------
   :: Desktop Styles
------------------------------- */

@media only screen and (min-width: 1000px) {



}
