/* -------------------------------
   :: Mobile Styles
------------------------------- */

.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

/* -------------------------------
   :: Desktop Styles
------------------------------- */

@media only screen and (min-width: 1000px) {
.container {
  width: $width;
  margin: 0 auto;
  border: 3px solid #000;
}
}

