$pink-main  :#ec4f94;
$green-main :#00965e;
$pink-menu  :#ff00ff;
$white      :#fff;
$link-hover: #dd0019;
$menu-li-color: #25282b;
$active-mobile-menu: #111823;
$text-color: #999999;


// number variables
$full-width   :100%;
$width          :1008px;

//fonts declaration
$font-style :"Raleway",sans-serif,'Open Sans', Helvetica, Arial, sans-serif;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -khtml-border-radius: $radius;
    background-clip: padding-box;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}
// Single side border-radius

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}


@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "assets/fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@mixin ellipsize-text($font-size, $line-height, $lines-to-show) {
    display: block;

    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 1000px;
    max-height: $font-size*$line-height*$lines-to-show;

    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin placeholder-color($color){

    &::-webkit-input-placeholder {
        color: $color;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;  
    }

    &:-ms-input-placeholder {  
        color: $color;  
    }

}
